* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .timeline {
    position: relative;
    padding-left: 10rem;
  }
  
  .timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
  }
  
  .timeline-circle {
    width: 20px;
    height: 20px;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    border-radius: 50%;
    position: absolute;
    left: -2rem;
    z-index: 2;
  }
  
  .timeline-content {
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .timeline:before {
    content: "";
    position: absolute;
    width: 3px;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    top: 0;
    bottom: 0;
    left: 8.5rem;
  }
  